<header class="nf-header">
    <div class="left-side-heading">
        <a href="https://novemberfirst.dk/" target="_blank">
            <img class="nf-header__logo-icon" src="./../../assets/logo-icon.svg">
        </a>
    </div>
    <div class="centered-heading">
        <span class="centered-heading">
            Open posts in e-conomic
        </span>
    </div>
    <div class="right-side-heading">
        <a href="https://novemberfirst.dk/" target="_blank">
            <img class="nf-header__person-icon" src="./../../assets/person-icon.svg">
        </a>
    </div>
</header>